/* CSS Reset */

/* Box sizing */
html {
  box-sizing: border-box;
  }
  
  *, *::before, *::after {
  box-sizing: inherit;
  }
  
  /* Margin och padding */
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  }
  
  /* Listor */
  ul, ol {
  list-style: none;
  }
  
  /* Länkar */
  a {
  text-decoration: none;
  color: inherit;
  }
  
  /* Tabellstilar */
  table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #212529;
  font-size: 1rem;
  line-height: 1.4;
  text-align: left;
  }
  
  th,
  td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  }
  
  th {
  font-weight: bold;
  background-color: #87b4e4;
  color: #212529;
  }
  
  tr:nth-child(even) {
  background-color: #ebf5fb;
  }
  
  tr:hover {
  background-color: #d5e5f5;
  }
  
  /* Formulär */
  button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  }
  
  button, input {
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
  cursor: pointer;
  }
  
  textarea:focus, input:focus {
  outline: none;
  }
  
  /* Style */
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /* HTML5 display för äldre browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  }
  
  /* Bakgrundsfärg för surf-class */
  .surf {
  background-color: #EBF5FB;
  }
  
  /* Bredd och center för container-id */
  #container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  }
  
  /* Bredd för alla bilder */
  img {
  max-width: 100%;
  }
  
  /* Border-radius för promote-class */
  .promote {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
/* Nav-bar */
nav {
  background-color: #2c3e51;
  color: white;
  text-align: center;
  padding: 1em 0;
  font-size: 1.2rem;
  }
  
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  
  nav li {
  float: left;
  }
  
  nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  }
  
  nav a:hover {
  background-color: rgb(0, 0, 0);
  }
  
  /*images responsiveness */
  .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  
  img {
  flex-basis: 30%;
  }
  
  /* Media Queries */
  @media screen and (max-width: 600px) {
  #container {
  width: 90%;
  }
  nav {
  display: none;
  }
  .image-container {
  flex-basis: 50%;
  }
  }
  
  @media screen and (min-width: 600px) {
  nav {
  display: block;
  }
  }
  
  h2 {
  margin-bottom: 1.25em;
  font-size: 1.5rem;
  }
  
  p {
  margin-top: 1.25em;
  font-size: 1rem;
  }
  

  form {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  width: 100%;
  margin: 0 auto; 
  }
  
  label {
  display: block;
  margin-bottom: 0.625em;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
  display: center;
  width: 50%;
  padding: 0.625em;
  margin-bottom: 0.625em;
  border: 0.063em solid #ccc;
  border-radius: 0.25em;
  font-size: 1rem;
  }
  
  input[type="submit"] {
  background-color: #2c3e51;
  color: white;
  border: none;
  padding: 0.625em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 0.625em; /* Lägg till marginal på toppen av knappen */
  font-size: 1rem;
  }
  
  input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  }
  
  /* Styling för radioknappar */
  input[type="radio"] {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  border: 0.063em solid #ccc;
  border-radius: 50%;
  margin-right: 0.625em;
  }
  
  /* Styling för markerad radioknapp */
  input[type="radio"]:checked {
  background-color: #2c3e51;
  }
  
  /* aside */
  aside {
  margin-top: 1.25em;
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  aside div {
  flex-basis: 30%;
  margin: 0.625em;
  padding: 0.625em;
  background-color: #f2f2f286;
  border-radius: 0.25em;
  font-size: 1rem;
  }